<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
<form action="/qa" method="POST">
        <!--<input type="text" style="width:300px;height:300px;font-size:30px" name="article"/>-->
            <div >
                <textarea name="question" id="" cols="30" rows="10" style=""></textarea>
            </div>
        <input type="submit" value="回复"/>
    </form>
    <textarea name="" id="" cols="30" rows="10" style="font-size: 20px">{{m_answer}}</textarea>
</div>
</body>
</html>